NEXT_PUBLIC_SUPABASE_URL=https://...
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_pub..
NEXT_PUBLIC_SITE_URL=https://your-domain.example
NEXT_PRIVATE_SUPABASE_PASSWORD=***
SUPABASE_SERVICE_ROLE_KEY=sb_secret_...
SUPABASE_AUTH_EXTERNAL_X_CLIENT_ID=
SUPABASE_AUTH_EXTERNAL_X_SECRET=